<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571409563488-aq0pvl53ekn4kjra7m8eqgk2uvk195li.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571409563488-aq0pvl53ekn4kjra7m8eqgk2uvk195li</string>
	<key>API_KEY</key>
	<string>AIzaSyCZBtarfCgTgUQ11X795OTqhgsPJ6W_nWI</string>
	<key>GCM_SENDER_ID</key>
	<string>571409563488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gestProdRiver</string>
	<key>PROJECT_ID</key>
	<string>gestionare-produse</string>
	<key>STORAGE_BUCKET</key>
	<string>gestionare-produse.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571409563488:ios:19e022be51453ff228e805</string>
	<key>DATABASE_URL</key>
	<string>https://gestionare-produse-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>